<div class="col-md-4 center bg-info">

  <h1 class="" style="">Signup</h1>

  <%= form_for @user, url: create_user_path do |f| %>

  <p>
    <%= f.label :photo_url %>
    <%= f.password_field :photo_url %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>


</div>
